<h3>Create a New Task</h3>

<form class="task" action="/tasks" method="post">
  <fieldset>

    <input class="task-title" type="text" name="name" placeholder="Title" autocomplete="off">
    <textarea class="task-details" name="details" placeholder="Details"></textarea>

  </fieldset>
  <button class="btn-options delete push">Create</button>
</form>